@use 'src/common' as common;

$transition-duration: 0.35s;

.searchResults {
  display: flex;
  flex-direction: column;
  margin-top: var(--a-spacing-2);
}

@media #{common.$mq-screen-tablet-and-mobile} {
  .titleDesktop {
    display: none;
  }
}