.search-results {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    &__show-more {
        align-self: center;
        text-transform: none;
        margin-top: 0.75rem;
    }
}
