@use 'src/common' as common;

.searchForm {
    margin-bottom: 1rem;
    display: flex;
    position: relative;
}
.searchField {
    flex-grow: 1;
}

.input {
    flex-grow: 1;

    input {
        border-width: 2px;
        border-color: common.$a-border-action;
        padding-right: 11rem;

        @media #{common.$mq-screen-mobile} {
            padding-right: 8rem;
        }
    }
}
.searchButtons {
    position: absolute;
    right: 0;
    display: flex;
}
.searchReset > span {
    display: flex;
}
.searchSubmit {
    width: 8rem;

    @media #{common.$mq-screen-mobile} {
        width: 5rem;
    }
}
