.radioExpandingPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3125rem 0;

    button {
        padding: 0.3125rem 0;
    }

    .ekspanderbartPanel__tittel {
        width: 100% !important;
    }

    .ekspanderbartPanel__indikator {
        display: none !important;
    }

    .ekspanderbartPanel__innhold {
        padding: 0.5rem;
    }

    &:hover {
        box-shadow: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }
}
