.panel {
    padding-top: var(--ax-space-4);
}

.radioWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.count {
    margin-left: auto;
}

.panelContent {
    padding: var(--ax-space-4) 0 var(--ax-space-16) var(--ax-space-32);
}
