.radioExpandingPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        padding: 0;
        border: none;
    }

    // Overstyring av Accordion
    :global(.navds-accordion__header-content) {
        width: 100%;
    }
    :global(.navds-accordion__expand-icon) {
        display: none;
    }
    :global(.navds-accordion__item--open > .navds-accordion__header) {
        background-color: inherit;
    }
    :global(.navds-accordion__content) {
        border: none;
        padding: 0 var(--a-spacing-3);
    }

    &:hover {
        box-shadow: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }
}
