@use 'src/common' as common;

.searchSorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.75rem;
    & > * {
        margin-bottom: 0.5rem;
        margin-right: 1rem;
    }
}

.searchTips {
    align-self: flex-start;
    font-size: common.$a-font-size-medium;
}

.hits {
    margin-top: 0.3rem;
}

.hitsVerbose {
    @media #{common.$mq-screen-mobile} {
        display: none;
    }
}

.term {
    font-weight: bold;
}
