@import (reference) '../../global-style.less';

.search-sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;

    &__selector {
        display: flex;
        flex-direction: column;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.25rem;
        & > * {
            margin-bottom: 0.5rem;
            margin-right: 2rem;
        }
    }

    &__hits-and-tips {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        align-self: flex-end;
        margin-bottom: 0.5rem;
        word-break: break-word;
    }

    &__hits {
        margin-top: 0.25rem;
    }

    &__hits-verbose {
        @media @screen-mobile {
            display: none;
        }
    }

    &__term {
        font-weight: bold;
    }
}
