.filterOption {
    &.disabled {
        > * {
            color: var(--a-text-subtle);
        }
    }

    label {
        padding: 0.375rem 0;
    }
}

.count {
    flex-grow: 1;
    text-align: end;
}
