.filterOption {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--ax-space-16);

    :global(:where(.aksel-checkbox__label, .aksel-radio__label)) {
      align-items: center;
    }
}

.count {
    margin-left: auto;
}
