.searchHeader {
    margin-bottom: 1rem;
}

.facet {
    margin-top: 0.5rem;
    margin-bottom: 0.125rem;
}

.underFacets {
    font-style: italic;
    color: var(--a-text-subtle);
}

.reset {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    padding: 0;
    margin-top: 0.25rem;

    &:hover {
        text-decoration: underline;
    }
}
