.searchHeader {
    margin-bottom: 1rem;

    .facet {
        margin-top: 0.25rem;
    }

    .underFacets {
        margin-top: 0.25rem;
        font-style: italic;
    }

    .clearUf {
        text-decoration: none;
        font-weight: bold;
        font-style: normal;
        padding-left: 0;
        &:hover {
            text-decoration: underline;
        }
    }
}
