@import (reference) '../global-style.less';
@import (reference) './filters/SearchFilters.less';

.search {
    @left-col-width: @desktopLargeMinWidth - @filters-width - @filters-margin -
        @padding-sides-desktop * 2;
    @breakpoint: @left-col-width + @padding-sides-desktop-small * 2;

    display: flex;
    justify-content: center;

    &__left-col {
        flex-grow: 1;
        width: @left-col-width;
        @media (max-width: @breakpoint) {
            width: 100%;
        }
    }
}
