@import (reference) '../global-style.less';
@import (reference) './filters/SearchFilters.less';

.search {
    display: flex;
    justify-content: space-between;

    &__left-col {
        flex-grow: 1;
        // Fixes width overflow in IE11...
        @media @screen-desktop {
            max-width: calc(100% - @filters-width - @filters-margin);
        }
    }
}
