@use 'src/common' as common;

$left-col-width: common.$desktopMinWidth - common.$filters-width -
    common.$filters-margin - common.$padding-sides-desktop * 2;
$breakpoint: $left-col-width + common.$padding-sides-desktop-small * 2;

.heading {
    margin-bottom: 0.5rem;
}

.search {
    display: grid;
    row-gap: 12px;
    max-width: 960px;
    margin-inline: auto;
    justify-content: center;

    @media #{common.$mq-screen-tablet-and-mobile} {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
}

@media #{common.$mq-screen-desktop} {
    .search {
        grid-template-columns: [full-start main] minmax(0, 580fr) [side] minmax(0, 300fr) [full-end];
        column-gap: 48px;
    }
    .heading {
        grid-column: full;
    }
    .search > * {
        grid-column: main;
    }
    .search :global(.searchFilters) {
        grid-column: side;
        grid-row: 2 / span 4;
    }
}