@import (reference) '../../global-style.less';

@filters-width: 18.75rem;
@filters-margin: 3rem;

.search-filters {
    @transition-duration: 0.35s;
    @collapsed-width: 11.56rem;
    margin-left: @filters-margin;
    min-width: @filters-width;

    &__title-mobile {
        display: none;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        &:hover {
            .search-filters__title-mobile-toggle {
                text-decoration: underline;
            }
        }

        &:focus {
            box-shadow: 0 0 0 2px @fokusFarge;
            background-color: transparent;
            color: @navBla;
        }
    }

    &__title-mobile-label {
        color: black;
    }

    &__mobile-toggle-chevron {
        margin-left: 0.25rem;
        transition: transform @transition-duration linear;
    }

    &__filters {
        & > * {
            margin-top: 1rem;
            overflow: hidden;
            width: calc(@filters-width - 1rem);
        }
    }

    @media (max-width: @desktopLargeMinWidth) {
        position: absolute;
        right: 1rem;
        margin: 0;
        padding: 0.5rem;
        background-color: white;
        border-radius: @border-radius-base;
        box-shadow: 0 1px 4px 0 @navGra60;
        min-width: @collapsed-width;
        max-width: @collapsed-width;
        transition-property: min-width, max-width;
        transition-duration: @transition-duration;
        transition-timing-function: ease-in;

        &--visible-mobile {
            z-index: 9999;
            max-width: @filters-width;
            min-width: @filters-width;

            .search-filters__filters {
                visibility: visible;
                max-height: 100rem;
            }

            .search-filters__mobile-toggle-chevron {
                transform: rotateX(-180deg);
            }
        }

        &__title-desktop {
            display: none;
        }

        &__title-mobile {
            display: flex;
        }

        &__filters {
            position: relative;
            visibility: hidden;
            overflow: hidden;
            max-height: 0;
            transition-property: max-height, visibility;
            transition-duration: @transition-duration;
            transition-timing-function: ease-in;
        }
    }
}
