@use 'src/common' as common;

$transition-duration: 0.35s;
$collapsed-width: 10rem;

.searchFilterWrapper {
    height: fit-content;

    @media #{common.$mq-screen-tablet-and-mobile} {
        margin-top: .5rem;
    }
}

.searchFilters {
    @media #{common.$mq-screen-tablet-and-mobile} {
        border-top: 1px solid var(--a-border-subtle);
        display: none
    }
}

.filters {
    display: grid;
    gap: var(--a-spacing-4)
}

.buttonMobile {
    display: none;
    padding: var(--a-spacing-3);
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--a-border-subtle);
    border-radius: var(--a-border-radius-medium);

    span {
        display: flex;
        gap: var(--a-spacing-1)
    }

    svg {
        transition: transform $transition-duration linear;
        font-size: 1.5rem;
        transform: translateY(-1px);
    }
}

@media #{common.$mq-screen-tablet-and-mobile} {
    .buttonMobile {
        display: flex;
    }

    .titleDesktop {
        display: none;
    }
    .filters {
        position: relative;
    }
    .visibleMobile {
        margin-top: -1px;
        z-index: 9999;
        min-width: common.$filters-width;
        display: block;

        .filters {
            max-height: 100rem;
        }
        .buttonMobile svg {
            transform: rotateX(-180deg);
        }
    }
}
