@use 'src/common' as common;

$transition-duration: 0.35s;
$collapsed-width: 10rem;

.searchFilters {
    min-width: common.$filters-width;
}

.filters {
    & > * {
        margin-top: 1rem;
        overflow: hidden;
        width: calc(#{common.$filters-width} - 1rem);
        @media #{common.$mq-screen-tablet-and-mobile} {
            width: 36.25rem
        }
    }
}

.buttonMobile {
    display: none;
    align-items: center;
    text-decoration: none;
    padding: 0;
    width: 100%;

    svg {
        margin-left: 0.25rem;
        transition: transform $transition-duration linear;
    }
}

@media #{common.$mq-screen-tablet-and-mobile} {
    .buttonMobile {
        display: flex;
    }

    .titleDesktop {
        display: none;
    }
    .filters {
        position: relative;
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        transition-property: max-height, visibility;
        transition-duration: $transition-duration;
        transition-timing-function: ease-in;
    }
    .visibleMobile {
        z-index: 9999;
        min-width: common.$filters-width;

        .filters {
            visibility: visible;
            max-height: 100rem;
        }
        .buttonMobile svg {
            transform: rotateX(-180deg);
        }
    }
}
