@use 'src/common' as common;

$transition-duration: 0.35s;
$collapsed-width: 10rem;

.searchFilterWrapper {
    border: 1px solid var(--a-border-subtle);
    border-radius: var(--a-border-radius-medium);
    height: fit-content;
}

.searchFilters {
    padding: 1rem 2rem;

    @media #{common.$mq-screen-tablet-and-mobile} {
        border-top: 1px solid var(--a-border-subtle);
        display: none
    }
}

.filters {
    display: grid;
    gap: var(--a-spacing-4)
}

.buttonMobile {
    display: none;
    padding: .25rem;
    justify-content: space-between;
    width: 100%;
    & > * {
        padding: .25rem;
    }

    svg {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        transition: transform $transition-duration linear;
    }
}

@media #{common.$mq-screen-tablet-and-mobile} {
    .buttonMobile {
        display: flex;
    }

    .titleDesktop {
        display: none;
    }
    .filters {
        position: relative;
    }
    .visibleMobile {
        z-index: 9999;
        min-width: common.$filters-width;
        display: block;

        .filters {
            max-height: 100rem;
        }
        .buttonMobile svg {
            transform: rotateX(-180deg);
        }
    }
}
